@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121619;
}

/* a {
  color: #2dd4bf
} */

.fcolor {
  color: #2dd4bf
}

.content {
  line-height: 200%;
}

h1,
h2 {
  color: white;
}

p {
  color: lightgray;
  font-size: 1.5em;
}

li {
  color: lightgray;
}

@media only screen and (max-width: 1000px) {
  .indexmediasm {
    padding-left: 1rem;
    /* Small padding on the left */
    padding-right: 1rem;
    /* Small padding on the right */
  }
}


@media only screen and (min-width: 1000px) {

  .indexmedialg {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}