@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121619;
}

/* a {
  color: #2dd4bf
} */

.fcolor {
  color: #2dd4bf
}

h1 {
  color: white;
}

p {
  color: white;
}